.message-content {font-size: 120%}
.message-content {color: black;}
.message-content {font-family: "Noto Sans Japanese", Regular;}
.message-content {line-height: 1.5;}
.user-name {font: bold 16px/30px Regular;}